html{
    font-size: 12px;
    margin: 0 auto;
    padding: 30px;
}

h1{
    font-size: 30px;
}
th{background-color: #afe3f8}
td, th {
border: 1px solid #289dad;
text-align: left;
padding: 8px;
}
footer{background-color: rgb(190, 223, 212); padding: 10px;}
body{border: lavender 2px solid;}
form{
    margin: 0 auto;
    width: 350px;
    border: 1px solid  cadetblue;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    border-radius: 1%;

}

label{
    display: inline-block;
    text-align: right;
}
input{
    width: 100px;
}
textarea{
    width: 150px;
}

/*Customizando formulário*/

input:focus{
    border-color: black;
}

ul{
    list-style: none;
}

input[type="submit"]{
    font-weight: bold;
}

.button:hover{
    color: brown;
    background-color: cadetblue;
}

.button:active{
    color: brown;
    background-color: cadetblue;
    box-shadow: 5px 5px #999;
    transform: translateY(5px);
}

.button{
    border: none;
    border-radius: 10px;
    padding: 10px 10px;
    outline: none;
    color:darkblue;
    background-color: rgb(52, 174, 211);
    font-size: 20px;
    box-shadow: 5px 8px #999;
    cursor: pointer;
}